allinone ansible_ssh_host=10.0.0.11 tunnels_interface_address=10.0.1.11
compute2 ansible_ssh_host=10.0.0.12 tunnels_interface_address=10.0.1.12
router   ansible_ssh_host=10.0.0.254

[all:vars]
ansible_ssh_user=vagrant
ansible_ssh_pass=vagrant

[control-hosts]
allinone

[network-hosts]
allinone

[compute-nodes]
allinone
compute2
